


  <router-outlet></router-outlet>
  <nav class="navbar navbar-expand-sm navbar-dar fixed-bottom">
    <div class="container-fluid">
      <div class="">
        <p class="social text-muted mb-0 pb-0 bold-text ">
          <span class="mx-2"
            ><i class="fa fa-facebook text-danger" aria-hidden="true"></i
          ></span>
          <span class="mx-2"
            ><i class="fa fa-linkedin-square text-danger" aria-hidden="true"></i
          ></span>
          <span class="mx-2"
            ><i class="fa fa-twitter text-danger" aria-hidden="true"></i
          ></span>
          <span class="mx-2"
            ><i class="fa fa-instagram text-danger" aria-hidden="true"></i
          ></span>
        </p>
        
      </div>
      <div
                  class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-right"
                >
                <small class="rights"><span style="text-align:right;">&#174;</span> All Rights Reserved.</small>
                </div>
      <div
                  class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-right"
                >
                
                  <small >
                    <span style="text-align: right;"><i aria-hidden="true"></i></span>
                   By: Pravallika</small
                  >
                </div>
                
    </div>
  </nav>

